@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap);body {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  width: 70%;
  margin: auto;
  position: relative;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-top {
  text-align: right;
  background-color: #0282f9;
  color: #fff;
  font-size: 0.7rem;
}
.header-top .content {
  display: flex;
  justify-content: end;
}
.header-top .content div {
  padding: 0.3125rem 0;
  padding-left: 1.875rem;
}

.header-bottom {
  padding: 0.9375rem 0;
}
.header-bottom .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-bottom .content .logo img {
  width: 90%;
}
.header-bottom .content nav ul {
  display: flex;
  vertical-align: middle;
}
.header-bottom .content nav ul li {
  padding-right: 1.25rem;
}
.header-bottom .content nav ul li a {
  color: #464646;
  font-weight: 600;
  padding-bottom: 50px;
}
.header-bottom .content nav ul li a.active {
  color: #0282f9;
  border-bottom: 0.3125rem solid #0282f9;
}
.header-bottom .content input {
  padding-bottom: 0.3125rem;
  text-align: right;
  border: none;
  border-bottom: 0.3125rem solid #0282f9;
}

.hero {
  background-image: url("../images/jumbotron.jpg");
  background-position: center top;
  background-size: cover;
  height: 500px;
}

section {
  position: relative;
}
section h2 {
  display: inline-block;
  padding: 0.625rem 1.5625rem;
  background-color: #0282f9;
  position: absolute;
  top: -1.5625rem;
  color: #fff;
}
section .dark-bg {
  padding: 4.375rem 0;
  background-color: #1c1c1c;
}
section .dark-bg ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
section .dark-bg ul .comic {
  width: calc(16.6666666667% - 0.625rem);
  padding: 1.25rem 1.25rem;
  margin-bottom: 1.25rem;
  text-align: left;
  color: #fff;
}
section .dark-bg ul .comic img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  margin-bottom: 0.625rem;
}
section .dark-bg .bottom {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #0282f9;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.625rem 1.5625rem;
}
section .services {
  background-color: #0282f9;
  padding: 2.5rem 0;
}
section .services ul {
  display: flex;
  justify-content: space-around;
}
section .services ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}
section .services ul li img {
  width: 25%;
  margin-right: 10px;
}
section .services ul li img.shop-locator {
  width: 18%;
}
section .services ul li img.digital-comics {
  width: 22%;
}
section .services ul li h4 {
  color: #fff;
}

.bg-footer {
  background-image: url("../images/footer-bg.jpg");
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 22.75rem;
  overflow: hidden;
}

.footer-left {
  display: flex;
}
.footer-left .col {
  margin-right: 40px;
}
.footer-left .col h6 {
  color: #fff;
  font-size: 1.1rem;
  margin-bottom: 0.75rem;
}
.footer-left .col ul {
  color: #fff;
  opacity: 0.6;
  font-size: 0.9rem;
}
.footer-left .col ul li {
  margin-bottom: 0.1875rem;
}
.footer-left .col ul li:last-child {
  margin-bottom: 0.75rem;
}

.footer-right {
  display: flex;
}
.footer-right img {
  margin-left: auto;
  width: 80%;
}

.footer-bottom-bg {
  background-color: #303030;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.9375rem 0;
}
.footer-bottom .footer-bottom-left button {
  padding: 0.75rem;
  background-color: #303030;
  color: #fff;
  border: 0.1875rem solid #0282f9;
  font-weight: bold;
}
.footer-bottom .footer-bottom-right {
  display: flex;
  align-items: center;
}
.footer-bottom .footer-bottom-right ul {
  display: flex;
}
.footer-bottom .footer-bottom-right ul li {
  margin-left: 0.9375rem;
}
.footer-bottom .footer-bottom-right h5 {
  color: #0282f9;
  font-size: 1.3rem;
}