@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap);body {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  width: 70%;
  margin: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-top {
  text-align: right;
  background-color: #0282f9;
  color: #fff;
  font-size: 0.7rem;
}
.header-top .content {
  display: flex;
  justify-content: end;
}
.header-top .content div {
  padding: 0.3125rem 0;
  padding-left: 1.875rem;
}

.header-bottom {
  padding: 0.9375rem 0;
}
.header-bottom .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-bottom .content .logo img {
  width: 90%;
}
.header-bottom .content nav ul {
  display: flex;
  vertical-align: middle;
}
.header-bottom .content nav ul li {
  padding-right: 1.25rem;
}
.header-bottom .content nav ul li a {
  color: #464646;
  font-weight: 600;
  padding-bottom: 50px;
}
.header-bottom .content nav ul li a.active {
  color: #0282f9;
  border-bottom: 0.3125rem solid #0282f9;
}
.header-bottom .content input {
  padding-bottom: 0.3125rem;
  text-align: right;
  border: none;
  border-bottom: 0.3125rem solid #0282f9;
}

.hero {
  background-image: url("../images/jumbotron.jpg");
  background-position: center top;
  background-size: cover;
  height: 500px;
}