@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


body {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    width: 70%;
    margin: auto;
    position: relative;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}